#footer {
  display: flex;
  position: static;
  align-items: center;
  background: #fff;
  height: 13vh;
  max-height: 100px;
  color: #000;
  .content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    span {
      margin: auto 0;
      font-size: 18px;
      font-weight: 700;
    }
    .icons {
      z-index: 10;
      display: flex;
      gap: 17px;
      a svg {
        width: 27px;
        height: auto;
        border-radius: 50%;
        transition: all 0.4s ease-in-out;
        &:hover {
          fill: #ffffff;
          background: #000;
          border: 1px solid #000;
        }
      }
    }
  }
}
