@media (max-width: 800px) {
  #navbar {
    .nav {
      width: 90%;
      h1 {
        font-size: 28rem;
      }
      a {
        font-size: 15rem;
        padding: 10rem;
      }
    }
    .message {
      p {
        width: 90vw;
        font-size: 20rem;
        font-weight: 400;
        line-height: 1.3;
        letter-spacing: 2rem;
        padding: 110rem 20rem;
        margin: 0 auto;
      }
    }
  }
  #cards {
    .slide {
      display: flex;
      flex-direction: column;
      min-width: 100%;
      .img-container {
        width: 100%;
        max-height: 500rem;
        img{
          position: absolute;
          bottom: 0;
        }
      }
      .desc-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0rem 20rem;
        .title {
          h1 {
            font-size: 35rem;
          }
        }
        p {
          font-size: 20rem;
        }
        .explore {
          margin: 0 auto;
          &::after,
          &::before {
            z-index: 1;
          }
        }
      }
    }
  }
  #footer {
    height: 12vh;
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        margin: 0 auto;
        font-size: 15rem;
        padding-bottom: 10rem;
      }
      .icons {
        justify-content: center;
      }
    }
  }
}
